*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Будет удалено app/libs/
Будет удалено app/src/main/java/com/kaellah/switchmovieapp/fragment/
Будет удалено app/src/main/java/com/kaellah/switchmovieapp/utility/
Будет удалено app/src/main/java/com/kaellah/switchmovieapp/view/
Будет удалено app/src/main/res/drawable/
